.DS_Store
.env
.idea/
.vscode/

miniapp/node_modules/
miniapp/miniprogram_npm/
miniapp/project.private.config.json
miniapp/private.*.key
*.key
miniapp/preview.jpg

server/target/

deploy/backups/
deploy/.env
scratch/


